<footer class="flex flex-col w-full pb-4 pt-8 mt-12 gap-y-4 bg-slate-200 border-t border-slate-500">
  <div class="flex justify-around">
    <div class="flex flex-col gap-y-4">
      <h3 class="text-2xl">
        Contact Us
      </h3>
      <div class="flex flex-col gap-y-2">
        <div class="flex gap-x-2">
          Email: <a href="#" class="flex">info&commat;example.com</a>
        </div>
        <div class="flex gap-x-2">
          Phone: <a href="#" class="flex">+123 456 789</a>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-y-4">
      <h3 class="text-2xl text-center">
        Follow Us
      </h3>
      <div class="flex justify-center gap-x-2">
        <a href="#" >
          <lucide-icon [img]="Instagram" class="size-8"></lucide-icon>
        </a>
        <a href="#" >
          <lucide-icon [img]="Github" class="size-8"></lucide-icon>
        </a>
        <a href="#" >
          <lucide-icon [img]="Linkedin" class="size-8"></lucide-icon>
        </a>
      </div>
    </div>

    <div class="flex flex-col gap-y-4">
      <h3 class="text-2xl">
        Newsletter
      </h3>
      <div class="flex flex-col gap-y-2">
        <div class="flex gap-x-2">
          <input class="border-2 border-slate-700 p-1 rounded outline-none" type="email" placeholder="Enter your email">
        </div>
        <button
        class="flex items-center justify-center bg-blue-500 hover:bg-blue-600 p-2 rounded text-white font-semibold transition"
        >Subscribe</button>
      </div>
    </div>
  </div>

  <div class="flex w-full justify-center">
    &copy; Prateek Kumar. All Rights Reserved
  </div>
</footer>