<div class="flex p-2 items-center bg-slate-300 shadow-lg">
  <a routerLink="/" class="flex py-2 px-4 rounded text-2xl text-blue-700 font-bold">Courshell</a>
  <a routerLink="/" class="flex py-2 px-4 rounded hover:bg-slate-400/20">Home</a>
  <a routerLink="/about" class="flex py-2 px-4 rounded hover:bg-slate-400/20">About</a>
  <a routerLink="/admin" class="flex py-2 px-4 rounded hover:bg-slate-400/20">Admin</a>
  <a routerLink="/courses" class="flex py-2 px-4 rounded hover:bg-slate-400/20">Courses</a>
</div>