<section class="relative flex h-[80vh] w-full mb-8">
  <img src="images/course.png" class="w-full object-cover" alt="">
  <div class="absolute flex flex-col gap-y-2 h-full w-full justify-center items-center bg-black/50">
    <div class="flex flex-col items-center">
      <h1
        class="flex rounded text-7xl text-blue-500 [text-shadow:_-1px_-1px_0_#fff,_1px_-1px_0_#fff,_-1px_1px_0_#fff,_1px_1px_0_#fff] font-bold">
        Courshell</h1>
      <p class="text-lg text-white">Learn from the best Courses!</p>
    </div>

    <div class="flex gap-x-4">
      <button
        class="px-4 py-2 bg-gray-600 text-white font-semibold rounded shadow-lg hover:bg-gray-700 cursor-pointer transition">Courses</button>
      <button
        class="px-4 py-2 bg-blue-500 text-white font-semibold rounded shadow-lg hover:bg-blue-600 cursor-pointer transition">Courses</button>
    </div>
  </div>
</section>

<app-courses></app-courses>